@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-transparent {
  background: transparent;
}

.clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* NAVIGATION */
.navigation {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000000;
}

.notification-badge {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
}

/* HERO */
.hero {
  background: #489178 url("../images/hero-background.jpg") no-repeat center center;
}

/* ADVANTAGES */
.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.tagline {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appeal {
  text-align: center;
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  background-color: #82B3D3;
}

.advantages-item-sky-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-descr {
  color: #333333;
}

.advantages-item-blue .advantages-title,
.advantages-item-blue .advantages-descr {
  color: #ffffff;
}

/* INFRASTRUCTURE */
.infrastructure {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.infrastructure-item-sky-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-descr {
  color: #333333;
}

/* SUBSCRIBE */
.subscribe-main {
  background: #5387b4 url("../images/subscribe-background.jpg") no-repeat center center;
}

.tagline-white,
.appeal-white {
  color: #FFFFFF;
}

.subscribe-email input {
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}

/* FOOTER */
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* FILTERS */
.filters {
  background: #5387b4 url("../images/filters-background.jpg") no-repeat center center;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.filters-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filters-group {
  border: none;
}

.filters-group-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filters-group-control {
  font-weight: 400;
}

/* CATALOG */
.catalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog-title,
.catalog-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-cards-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.product-cards-housing,
.product-cards-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-cards-rating {
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
}

/* PAGINATION */
.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
